[user]
	name = tikkss
	email = tsuto.katsube@gmail.com
[include]
	path = .gitconfig.local

[alias]
	a = add
	aa = !git add -u && git add . && git status
	ac = !git add -u && git add . && git commit -m
	br = branch
	c = commit -m
	co = checkout
	cob = checkout -b
	df = diff
	dfc = diff --cached
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
	lga = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative --all
	lo = log --oneline
	st = status
[branch]
	autosetuprebase = always
[color]
	ui = auto
[core]
	editor = vim
	# http://stackoverflow.com/questions/136178/git-diff-handling-long-lines
	pager = less -r
[ghq]
	root = ~/src
[merge]
	# from 1.7.6
	ff = false
[pull]
	# from 1.7.9
	rebase = true
[push]
	# push only the current branch
	default = current
