set clipboard+=unnamed
set surround
set multiple-cursors

set visualbell
set noerrorbells

" Split window
nmap ss :split<Return><C-w>w
nmap sv :vsplit<Return><C-w>w
" Move window
nmap <Space> <C-w>w
map sh <C-w>h
map sk <C-w>k
map sj <C-w>j
map sl <C-w>l

" Edit tab
nmap te :tabedit 
" Move tab
nmap <S-Tab> :tabprev<Return>
nmap <Tab> :tabnext<Return>

